@import "tailwindcss";
@plugin "daisyui";

body {
    min-height: 100vh;
    background-color: #f1f1f1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}